* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

header {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
    display: flex;
    justify-content: center;
}

nav {
    background-color: #d8a47f;
    padding: 10px 15%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.my-portfolio-title {
    padding: 20px 10px 2px 10px;
    background-image: url();
    display: flex;
    justify-content: center;
    align-items: flex-end;
}